/*---------- MAIN ----------*/
nav {
  margin: 10px 0;
  border-bottom: 2px solid #049B9C; }

nav ul {
  display: inline-block; }

.nav {
  margin-bottom: 10px; }

.nav-pills li a {
  font-size: 1.25em;
  color: #049B9C; }

/*---------- LOGIN ----------*/
.login-area {
  margin-top: 40px; }

.login-header {
  padding: 4px 20px;
  border-radius: 10px 10px 0 0;
  background-color: #049B9C; }

.login-bottom {
  padding: 20px;
  background-color: #DCEEEE;
  border-radius: 0 0 10px 10px;
  text-align: right; }

.login-area h2 {
  font-size: 1.5em;
  color: #fff;
  margin: 8px 0; }

.login-area p {
  color: #fff; }

.login-area input {
  margin: 4px 0; }

.login-btn {
  background: #049B9C;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 4px 12px;
  margin-top: 6px; }

.logout-btn {
  background: #049B9C;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 4px 12px;
  margin-top: 10px;
  float: right; }

/*---------- LIST MUSIC ----------*/
/*---------- LEFT CONTROLS ----------*/
.left--controls {
  padding: 20px; }

.slider label {
  line-height: 2; }

.slider input {
  width: 100%;
  margin-bottom: 20px; }

.artistAlbumDrop {
  margin-bottom: 20px; }

.artistAlbumDrop .btn {
  width: 124px; }

/*---------- SONG LIST ----------*/
.song--list {
  padding: 20px; }

.song--list li {
  margin-bottom: 14px;
  background-color: #DCEEEE;
  padding: 10px;
  border-radius: 10px; }

.song--list p {
  color: #049B9C;
  font-size: 1.3em;
  margin-bottom: 0; }

.song--list span:nth-child(n+3)::before {
  content: "|";
  margin: 0 10px; }

.listArtist {
  font-weight: bold; }

.listAlbum {
  font-style: italic; }

.deleteTrack {
  color: #049B9C;
  background: #fff;
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: bold;
  float: right; }

.loadMoreTracks {
  background: #049B9C;
  color: #fff;
  border: none;
  padding: 6px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold; }

/*---------- ADD MUSIC ----------*/
.add-input-row {
  margin: 10px 0; }

.add-input-row input {
  float: right;
  width: 70%; }

#add-button {
  width: 100%; }

/* hide at login */
#add-music-view,
#list-music-view,
#navigation-items {
  display: none; }
