/*---------- ADD MUSIC ----------*/

#add-music-view{
  display: none;
}

.add-input-row {
  margin: 10px 0;
}
.add-input-row input {
  float: right;
  width: 70%;
}

#add-button {
  width: 100%;
}
