/*---------- LOGIN ----------*/
@import 'variables';

.login-area {
  margin-top: 40px;
}

.login-header {
  padding: 4px 20px;
  border-radius: 10px 10px 0 0;
  background-color: $primary-color;
}

.login-bottom {
  padding: 20px;
  background-color: $secondary-color;
  border-radius: 0 0 10px 10px;
  text-align: right;
}

.login-area h2 { 
  font-size: 1.5em;
  color: #fff;
  margin: 8px 0;
}

.login-area p{
  color: #fff;
}

.login-area input {
  margin: 4px 0;
}

.login-btn {
  background: $primary-color;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 4px 12px;
  margin-top: 6px;
}

.logout-btn {
  background: $primary-color;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 4px 12px;
  margin-top: 10px;
  float: right;
}