/*---------- MAIN ----------*/

.visible {
  display: block;
}

.hidden {
  display: none;
}

/*----------------- LIST MUSIC VIEW START -----------------*/
/*---------- LEFT CONTROLS ----------*/
.left--controls {
  border: 1px solid #000;
  padding: 20px;
}

.slider label{
  line-height: 2;
}

.slider input{
  width: 176px;;
}

/*---------- SONG LIST ----------*/
.song--list {
  border: 1px solid #000;
}

.song--list p {
  color: #785616;
  font-size: 1.3em;
  margin-bottom:0;
}

.song--list li {
  margin-bottom:14px;
}

/*----------------- LIST MUSIC VIEW END -----------------*/

/*----------------- ADD MUSIC VIEW START -----------------*/


/*----------------- ADD MUSIC VIEW END -----------------*/
